[submodule "ext/catch"]
	path = ext/catch
	url = https://github.com/catchorg/Catch2.git

[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git

[submodule "ext/freertos"]
	path = ext/freertos
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "vendors/arm/CMSIS_5"]
	path = vendors/arm/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "vendors/st/cmsis_device_f4"]
	path = vendors/st/cmsis_device_f4
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
[submodule "vendors/st/stm32f4xx_hal_driver"]
	path = vendors/st/stm32f4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver.git
