menu "Product assembly"

choice
    prompt "Product profile"
    default PRODUCT_NATIVE_REFERENCE if BOARD_NATIVE_REFERENCE
    default PRODUCT_STM32F407_DISCOVERY if BOARD_STM32F4DISCOVERY
    default PRODUCT_GD32F470_LIANGSHAN if BOARD_GD32F470_LIANGSHAN
    default PRODUCT_QIMING_STM32F407ZG_V31 if BOARD_STM32F407_QIMING_V31
    default PRODUCT_SKY_STM32F407VE_QINGCHUN if BOARD_STM32F407VE_SKY_QINGCHUN

config PRODUCT_NATIVE_REFERENCE
    bool "Native reference product"
    depends on BOARD_NATIVE_REFERENCE

config PRODUCT_STM32F407_DISCOVERY
    bool "STM32F407VG Discovery reference product"
    depends on BOARD_STM32F4DISCOVERY

config PRODUCT_GD32F470_LIANGSHAN
    bool "GD32F470ZG Liangshan reference product"
    depends on BOARD_GD32F470_LIANGSHAN
config PRODUCT_QIMING_STM32F407ZG_V31
    bool "Qiming STM32F407ZGT6 V3.1 reference product"
    depends on BOARD_STM32F407_QIMING_V31
config PRODUCT_SKY_STM32F407VE_QINGCHUN
    bool "Sky STM32F407VET6 youth reference product"
    depends on BOARD_STM32F407VE_SKY_QINGCHUN
endchoice

config PRODUCT_NAME
    string
    default "native-reference" if PRODUCT_NATIVE_REFERENCE
    default "stm32f407-discovery" if PRODUCT_STM32F407_DISCOVERY
    default "gd32f470-liangshan" if PRODUCT_GD32F470_LIANGSHAN
    default "stm32f407zg-qiming-v31" if PRODUCT_QIMING_STM32F407ZG_V31
    default "stm32f407ve-sky-qingchun" if PRODUCT_SKY_STM32F407VE_QINGCHUN

endmenu
